<%= div_for weapon do %>
  <h2><%= weapon.name %></h2> 
  <p>
    Condition: <%= weapon.condition %>
    Ammo: <%= weapon.ammo %>
    Purchased <%= time_ago_in_words weapon.purchased_on %> ago
  </p> 
<% end %>